.tabsContainer{
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgb(226, 225, 225);
}
.buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.buttons button{
    border: none;
    cursor: pointer;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    transition: all 0.3 ease-in;
    font-size: 1.2rem;

}
.tabContent p{
    padding: 20px;
    line-height: 1.5rem;
    border-radius: 10px;
    color: rgb(83, 83, 83);
}
@media(max-width:580px){
    .buttons {
        display: flex;
       flex-wrap: wrap;
    }
    .tabContent p{
        padding: 10px;
        font-size: 0.8rem;
    }
    .buttons button{
        
        padding: 10px;
      
        font-size: 0.9rem;
    
    }
}